<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
        <!-- style.css -->
        <link rel="stylesheet" href="./dist/css/app.css">
        <title>node-sass-teambit</title>
    </head>
    <body>
        <div id="app">
            <div class="gen_container">
                <header>
                    <nav>
                        <div class="logo">
                            <img :src="nav[0].logo" alt="">
                        </div>
                        <div class="right_nav">
                            <div class="nav_menu">
                                <ul class="menu_list">
                                    <li class="menu_voice" v-for="item in nav"> {{item.voice}} </li>
                                </ul>
                            </div>
                            <button class="nav_btn"><img :src="nav[3].btnIcon" class="img_btn" alt="">{{nav[3].btnText}}</button>
                        </div>
                    </nav>
                </header>
                <main>
                    <!-- hero section -->
                    <section class="hero_wrapper">
                        <div class="hero_main_container">
                            <div class="hero_title_container" v-for="item in hero">
                                <h1>{{item.title}}</h1>
                                <h3>{{item.overview}}</h3>
                                <div class="btn_double_container">
                                    <button class="btn"><img :src="item.btnIcon1" class="img_btn" alt=""> {{item.btnText1}}</button><p>&nbsp;or&nbsp;</p> 
                                    <button class="btn"><img :src="item.btnIcon2" class="img_btn" alt=""> {{item.btnText2}}</button>
                                </div>
                                <p><a href="">{{item.email}} <i class="fas fa-arrow-right"></i></a></p>
                            </div>
                            <div class="hero_img" v-for="item in hero">
                                <img :src="item.img" alt="">
                            </div>
                        </div>
                        
                    </section>
                    <!-- //hero section -->

                    <!-- organization section -->
                    <section class="organization_wrapper">
                        <div class="problems_container">
                            <div class="section_title">
                                <h2>{{organization[0].problem[0].title}}</h2>
                            </div>
                            <div class="cards_container">
                                <div class="cards" v-for="item in organization[0].problem">
                                    <img :src="item.img" alt="">
                                    <p>{{item.para}}</p>
                                </div>
                            </div>
                            <img class="img_big" :src="organization[2].pictures[0].problemPic" alt="">
                        </div>
                        <div class="solutions_container">
                            <div class="section_title">
                                <h2>{{organization[1].solution[0].title}}</h2>
                            </div>
                            <div class="cards_container">
                                <div class="cards" v-for="item in organization[1].solution">
                                    <img :src="item.img" alt="">
                                    <p>{{item.para}}</p>
                                </div>
                            </div>
                            <img class="img_big" :src="organization[2].pictures[1].solutionPic" alt="">
                            <div class="section_title">
                                <h2>{{organization[1].solution[0].lastTitle}}</h2>
                            </div>
                        </div>
                    </section>
                    <!-- //organization section -->

                    <!-- platform section -->
                    <section class="platform_wrapper">
                        <div class="container1">
                            <div class="platform_img">
                                <img :src="platform[0].tableImg" alt="">
                            </div>
                            <div class="platform_title_container">
                                <h1>{{platform[0].title}}</h1>
                                <h3>{{platform[0].overview}}</h3>
                                <p><a href="#">Learn more&nbsp; <i class="fas fa-arrow-right"></i></a></p>
                                <img :src="platform[0].picture" alt="">
                            </div>
                        </div>
                        <div class="container2">
                            <div class="platform_title_container">
                                <h1>{{platform[1].title}}</h1>
                                <h3>{{platform[1].overview}}</h3>
                                <p><a href="#">Learn more&nbsp; <i class="fas fa-arrow-right"></i></a></p>
                                <img :src="platform[1].picture" alt="">
                            </div>
                            <div class="platform_img">
                                <img :src="platform[1].tableImg" alt="">
                            </div>
                        </div>
                        <div class="container3">
                            <div class="platform_img">
                                <img :src="platform[2].tableImg" alt="">
                            </div>
                            <div class="platform_title_container">
                                <h1>{{platform[2].title}}</h1>
                                <h3>{{platform[2].overview}}</h3>
                                <p><a href="#">Learn more&nbsp; <i class="fas fa-arrow-right"></i></a></p>
                                <img :src="platform[2].picture" alt="">
                            </div>
                        </div>
                        <div class="container4">
                            <div class="platform_title_container">
                                <h1>{{platform[3].title}}</h1>
                                <h3>{{platform[3].overview}}</h3>
                                <p><a href="#">Learn more&nbsp; <i class="fas fa-arrow-right"></i></a></p>
                                <img :src="platform[3].picture" alt="">
                            </div>
                            <div class="platform_img">
                                <img :src="platform[3].tableImg" alt="">
                            </div>
                        </div>
                    </section>
                    <!-- //platform section -->

                    <!-- started section -->
                    <section class="started_wrapper" v-for="item in started">
                        <div class="started_title">
                            <h2>{{item.title}} </h2>
                        </div>
                        <div class="square">
                            <i class="fas fa-quote-left"></i>
                            <p>{{item.para1}} </p>
                            <p>{{item.para2}} </p>
                            <p>{{item.para3}} </p>
                            <p>{{item.para4}} </p>
                            <div class="founder">
                                <img :src="item.imgFound1" alt="">
                                <img :src="item.imgFound2" alt="">
                                <div>
                                    <h4>{{item.names}}</h4>
                                    <h5>{{item.jobs}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="btn_started_container">
                            <button class="btn"><img :src="item.btnIcon1" class="img_btn" alt=""> {{item.btnText1}}</button><p>&nbsp;or&nbsp;</p> 
                            <button class="btn"><img :src="item.btnIcon2" class="img_btn" alt=""> {{item.btnText2}}</button>
                        </div>
                        <p><a href="">{{item.email}} &nbsp;<i class="fas fa-arrow-right"></i></a></p>

                    </section>
                    <!-- //started section -->
                </main>
            </div>

        </div>










        <!-- VueJs CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
       
        <!-- link to javascript file -->
        <script src="./dist/js/app.js"></script>
    </body>
</html>