@import 'partials/_variables';
@import 'partials/_mixins';
@import 'partials/_commons';

.footer_wrap{
    @include flex_container(row,80%,space-between,flex-start);
    padding-top: 45px;
    padding-bottom: 45px;
    flex-wrap: wrap;
}
.col1{
    min-width: 150px;
    display: flex;
    width: 25%;
    line-height: 2rem;
    align-items: baseline;
    b{
        color: #2C4792;
    }
    img{
        margin-right: 20px;
        width: 100px;
    }
}
.foot_col{
    min-width: 120px;
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: space-evenly;
    align-items: space-evenly;
    a{
        text-decoration: none;
        text-transform: capitalize;
        line-height: 1.8rem;
        color: $color_font;
        font-size: 0.9rem;
    }
    h2{
        text-transform: capitalize;
    }
}