@import 'partials/_variables';
@import 'partials/_mixins';
@import 'partials/_commons';

header{
    @include flex_container(row,100%,center,center);

}
nav{
    @include flex_container(row,80%,space-between,center);
    border-bottom: 1px solid $color_font;
}
.logo{
    @include flex_container(row,20%,flex-start,center);
    height: 60px;
}
.hamburger{
    display: none;
}
.right_nav{
    @include flex_container(row,80%,flex-end,center);
}
.nav_menu{
    @include flex_container(row,50%,flex-end,center);
}
.menu_list{
    @include flex_container(row,100%,space-evenly,center);
    list-style: none;  
    li{
        text-transform: capitalize;
        font-weight: 500;
    }
}
.nav_btn{
    @include flex_container(row,100px,space-evenly,center);
    vertical-align: middle;
    height: 40px;
    color: #2C4792;
    border: 1px solid #2C4792;
    border-radius: 5px;
    font-weight: 500;
}