@import 'partials/_variables';
@import 'partials/_mixins';
@import 'partials/_commons';

.organization_wrapper{
    @include flex_container(column,100%,center,center);
    background-color: $main_bg;
    .section_title{
        width: 50%;
        line-height: 4rem;
        font-size: 1.2rem;
        text-align: center;
    }
    .img_big{
        padding: 80px;
        height:300px;
    }
}
.problems_container{
    @include flex_container(column,100%,center,center);
    border-bottom: 1px solid $color_font;
}
.solutions_container{
    @include flex_container(column,100%,center,center);
}
.cards_container{
    @include flex_container(row,100%,center,center);
    flex-wrap: wrap;
    
    
}
.cards{
    @include flex_container(column,30%,center,center);
    min-width: 300px;
    img{
        height: 100px;
    }
}