@import 'partials/_variables';
@import 'partials/_mixins';
@import 'partials/_commons';

.platform_wrapper{
    width: 100%;
}
.container1{
    @include flex_container(row,80%,flex-start,flex-start);
    flex-wrap: wrap;
    margin-top: 50px;
}
.container2{
    @include flex_container(row,100%,flex-end,flex-start);
    flex-wrap: wrap;
    margin-top: 50px;
}
.container3{
    @include flex_container(row,100%,flex-start,flex-start);
    margin-top: 50px;
    flex-wrap: wrap;
}
.container4{
    @include flex_container(row,100%,flex-end,flex-start);
    margin-top: 50px;
    flex-wrap: wrap;
}
.platform_title_container{
    @include flex_container(column,35%,space-between,flex-start);
    min-width: 300px;
    h1{
        font-size: 2rem;
        font-weight: 600;
        line-height: 4rem;
        width: 90%;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 300;
        width: 90%;
    } 
    a{
        text-decoration:none;
        color: $btn_color;
        font-size: 1.5rem;
    }
    img{
        width: 100%;
    }
}
.platform_img{
    @include flex_container(column,55%,center,flex-start);
    min-width: 300px;
    img{
        width: 100%;
    }
}